@import 'tailwindcss';

html,
body {
    font-family: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    scroll-behavior: smooth;
    background-color: #fdf2f8;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #fdf2f8;
}

::-webkit-scrollbar-thumb {
    background: #ec4899;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #db2777;
}
